/* ==|====================
   Layout/Header
   ======================= */



header{
	background: $greenbg;
	width: 100%;

	.container{
		width: 80%;
		padding-top: 4.50847457627%;
		text-align: center;
		margin: auto;
	}

	h1{
		font-size: 2.703125em;
		margin: 0;
		font-family: $font1;
		text-transform: capitalize;
	}
  	h2{
	  font-size: 2.703125em;
	  margin: 0;
	  font-family: $font1;
	  text-transform: capitalize;
	}

	.down{

		width: 60px;
		height: 29px;
		display: block;
		margin: 5.59090909091% auto 0 auto;
	  padding-bottom:  5.59090909091%;




	}



}

.flechemouve{

  float: left;
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;

}


@-webkit-keyframes Floatingx{
  from {-webkit-transform:translate(0, 0px);}
  65% {-webkit-transform:translate(0, 15px);}
  to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
  from {-moz-transform:translate(0, 0px);}
  65% {-moz-transform:translate(0, 15px);}
  to {-moz-transform: translate(0, -0px);}
}



