/* ==|======================
   responsive/Home
   ========================= */

@include portable {
  body {
    margin: 0;
    padding: 0;
  }

  header {
    background: $greenbg;
    width: 100%;

    .container {
      width: 100%;
      padding-top: 0; /*2.50847457627%;*/
      text-align: center;
      margin: auto;
    }
    img {
      width: 50%;
    }
    h1 {
      font-size: 1.703125em;
      margin: 0;
      font-family: $font1;
      text-transform: capitalize;
    }
  }

  .menu .container {
    width: 100%;
    overflow: hidden;
    margin: auto;
  }

  .menu--icon {
    width: 50px;
    height: 66px;
    display: block;
    float: right;
    cursor: pointer;

  }

  .menu--icon:after {
    content: '';
    position: absolute;
    z-index: 20;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    right: 25px;
    -moz-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    -webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
  }
  .main-nav {
    background: $greenbg;
    height: 80px;
    overflow: hidden;
    margin: 0;
    float: right;

  }

}



